<div class="card">
    <div class="card-header">Filtrar - Preço</div>
    
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="de">Mínimo R$</label>
                <input type="number" id="de" class="form-control" min="0">
            </div>
        
            <div class="form-group">
                <label for="ate">Máximo R$</label>
                <input type="number" id="ate" class="form-control" min="0">
            </div>
            <br>
            <button class="btn btn-primary btn-block btn-sm">Filtrar</button>  
        
        </form>

        
    </div>

</div>
<br>
<img src='assets/images/transformacaodigital.jpg' height="500px">
<img src='assets/images/futuropresente.jpg' height="500px">
<img src='assets/images/algoritmoslogicadeprogramacao.jpg' height="500px" >
