<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <app-header></app-header>
    </a>
    <input type="string" id="campo">
    <br>
    <nav class="me-3 d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sobre</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Mais Vendidos</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Lançamentos</a>
    </nav>
    <a class="me-3 btn btn-outline-primary" href="#">Entrar</a>
</div>